@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap');
html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header start */
header {
    width: 100%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.container {
    width: 1111px;
    margin: 0 auto;
}

.container .header__block {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.block_brand {
    width: 65%;
}

.block_brand img {
    cursor: pointer;
}

.header__links {
    width: 30%;
}

.header__links .links__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__links a {
    position: relative;
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%);
}

.header__links a {
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
}

.header__links a {
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header__links a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
}

.header__links a:hover {
    background-position: 0;
}

.header__links a:hover::before {
    width: 100%;
}

.header__links a {
    background-image: linear-gradient(to right,
            #54b3d6,
            #54b3d6 50%,
            #000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.header__links .links__ul li {
    list-style-type: none;
}

.header__links .links__ul li a {
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    color: #33323D;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

.header__links .links__ul li a:hover {
    color: #5FB4A2;
}

/* header end */

/* section__one start */

.container__item {
    width: 100%;
    height: 600px;
    background-image: url('../img/hompageimg.png');
    margin-top: 20px;
    display: flex;
    align-items: flex-end;
}

.cards {
    width: 445px;
    height: 359px;
    background-color: rgb(255, 255, 255);
}

.cards__title {
    width: 380px;
    height: 190px;
    margin-top: 30px;
    font-size: 33px;
    color: #33323D;
}

.cards__title h2 {
    font-family: 'Ibarra Real Nova', serif;
}

.item__link {
    width: 170px;
}

.item__link .link__block {
    width: 170px;
    height: 45px;
    background-color: #203A4C;
    font-size: 18px;
    margin-top: 70px;
    color: white;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.link__block {
    display: flex;
    align-items: center;
}

.about {
    width: 50px;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item__link a p {
    margin-left: 15px;
}

a {
    text-decoration: none;
}


/* section__one end */

/* section__two start */

.items {
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.items__text {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.items__subtitle {
    width: 350px;
    height: 100%;
    text-align: justify;
}

.items__subtitle h2 {
    font-family: 'Ibarra Real Nova';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 42px;
    letter-spacing: -0.357143px;
    color: #33323D;
    margin-top: 45px;
}

.items__subtitle p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #33323D;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-top: 35px;
}
    
.items__text .items__subtitle span {
    width: 350px !important;
    height: 10px !important;
    background-color: #000 !important;
    /* opacity: 100%; */
}

.items__subtitle a {
    width: 202px;
    height: 48px;
    border: 1px solid #33323D;
    background-color: #fff;
    color: #33323D;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.items__subtitle a:hover{
    color: white;
    background-color: #33323D;
}
/* section__two end */

/* section__three start */
.wrap{
    width: 100%;
    height: 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}
.wrap h2{
    width: 200px;
}
.wrap span {
    width: 500px;
    height: 1px;
    background-color: black;
    opacity: 30%;
}
.wrap a{
    width: 170px;
    height: 48px;
    border: 1px solid #33323D;
    background-color: #fff;
    color: #33323D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.wrap a:hover{
    color: white;
    background-color: #33323D;
}
/* section__three end */

/* footer start */
footer {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #33323D;
    margin-top: 70px;
}

.footer__block {
    width: 100%;
    height: 100%;
    display: flex;
    /* justify-content: space-between; */

}

.footer__logo {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.footer__link {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.footer__links__ul {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 15px;
}

.footer__links__ul li {
    list-style-type: none;
}

.footer__links__ul li a {
    font-family: 'Public Sans', sans-serif;
    text-decoration: none;
    color: #FFFFFF;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
}

.footer__links__ul li a:hover {
    color: #5FB4A2;
}


.footer__icons {
    width: 70%;
    height: 70px;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    /* margin-right: 20px; */

}

i {
    font-size: 23px;
    margin-right: 20px;
    transition: 0.4s linear;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -ms-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    /* color: white; */
}

i:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    color: #54b3d6;
    cursor: pointer;
}

/* footer end by by*/